:root, body {
	@apply m-0 p-0 text-[16px];
}

@font-face {
	font-family: 'HarmonyOS Sans SC';
	src: url('@/v2/assets/fonts/HarmonyOS_Sans_SC/HarmonyOS_Sans_SC_Medium.ttf') format('woff2');
	font-display: swap;
}